
body {
    background-color: #FAF0D7;
    height: 1000px;
    margin: 0;
}
.header{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    
    height: 50px;
    height: 50px;
}

.gambar-head {
    height: 400px;
    width: 100%;
    object-fit: cover;
    opacity: 100%;   
}

.judul {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    padding-top: 115px;
    font-size: 70px;
    font-weight: 700;
    color: white;
}
.judul2 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    padding-top: 200px;
    font-size: 70px;
    font-weight: 700;
    color: white;
}

.tanda-panah {
    position: absolute;
    display: flex;
    height: 200px;
    top: 300px;
    right: 30px;
    transform: rotate(-180deg);
}

.shape-1 {
    display: flex;
    position: absolute;
    top: 700px;
    left: 100px;
    height: 200px;
}


.type-animation {
    width: 500px;
    height: 100px;
    color: white;
    margin-top: 380px;
    display: flex;
    padding-left: 60px;
    
}
.type-animation h2{
    font-family: 'Roboto',sans-serif;
}

.type-animation span {
    color: #F3AA60;
}
