body {
    background: url(https://images.alphacoders.com/112/112121.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.glass-effect {
    width: 400px;
    height: 400px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.submited {
    display: flex;
    justify-content: center;
    width: 177px;
    margin-top: 20px;
    background: none;
    border-radius: 20px;
    border: solid;
}

.pengisian-pass {
    border-radius: 20px;
    height: 20px;
    border: solid;
    border-width: 2px;
}




